APScheduler==3.9.1
bcrypt==3.2.2
dwollav2==2.2.1
Flask==2.0.3
Flask-Mail==0.9.1
Flask-Session==0.4.0
flask-login==0.6.2
flask-cors==3.0.10
pandas==1.4.1
plaid-python==9.9.0
pymongo==3.9.0
python-dotenv==0.20.0
python-magic-bin==0.4.14
ratelimit==2.2.1
regex==2022.1.18
requests==2.27.1
signnow-python-sdk==2.0.1
dnspython==2.2.1
python-dotenv==0.20.0
random-password-generator==2.2.0
flask-jwt-extended[asymmetric_crypto]==4.4.2